.books {
  border: 2px solid black;
  width: 100px;
  height: 500px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  box-shadow: 10px 0 10px 0 black;
}
